*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.itelic-text{
    color: #000;
    font-family: Mirador;
    font-size: 30px;
    font-style: italic;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.8px;
}

.bottom-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.img-card-yt{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.tula{
    color: #B90124;
    font-family: Mirador;
    font-size: 40px;
    font-style: italic;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.8px;
    
}

.latest-text{
    color: #2e2e2e;
    font-family: "TT Chocolates Trl";
    font-size: 18px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    letter-spacing: 0.75px;
}

.Why-TIS>p{
    font-family: Mirador;
    font-size: 60px;
    font-style: italic;
    font-weight: bolder;
    line-height: normal;
    text-align: center;
    margin: 20px;
}

.Why-TIS span{
    color: #B90124;

}

.focus{
    color: #202833;
    font-family: "Goudy Old Style";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.management{
    color: #B90124;
    text-align: center;
    font-family: "Goudy Old Style";
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.friendly-para{
    color: #202833;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
}

.img-castle{
    mix-blend-mode: multiply;
    /* color: #B90124; */
   
}

.fifth-text{
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fifth-text :nth-child(1){
    color: #FFF;
    text-align: center;
    font-family: "Goudy Old Style";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}
.fifth-text :nth-child(2){
    color: #FFF;
    text-align: end;
    font-family: "Goudy Old Style";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.number{
    position: absolute;
    width: 80vw;
    margin: auto;
    display: flex;
    background-color: #B90124;
    top:80vh;
    left: 10vw;
    padding: 30px;
    border-radius: 15px;
    justify-content: space-around;
}
.number>div{
    width: 300px;
    border-right: 1px solid white;
}

.number>div :nth-child(1){
    color: #FFF;
    text-align: center;
    font-family: "TT Chocolates";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}
.number>div :nth-child(2){
    color: #FFF;
    text-align: center;
    font-family: "Goudy Old Style";
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.last-div{
    border-right: none !important;

}

.six-img-card{
    color: #B90124;
}

.from-text :nth-child(1){
    color: #000;
    font-family: "URW DIN Arabic";
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1.6px;

}
.from-text :nth-child(2){
    color: #B90124;
    font-family: Mirador;
    font-size: 70px;
    font-style: italic;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.6px;
}


.map-box{
    position: absolute;
    width: 900px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
}

.map-box :nth-child(1){
    color: #FFF;
    font-family: "Goudy Old Style";
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 550px;
    margin: 70px auto 10px;
    text-align: start;
}
.map-box :nth-child(2){
    color: #A60028;
    text-align: end;
    font-family: "Goudy Old Style";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 550px;
    margin: 10px auto 10px;

}

.map-box :nth-child(3){
    color: #FFF;
    width: 550px;
    text-align: center;
    font-family: "TT Chocolates";
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    margin: 20px auto;
}

.last-btns-div{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    display: flex;
    justify-content: space-evenly;
}

.last-btns-div>div {
    padding: 12px 30px;
    color: white;
    background-image: linear-gradient(to right, #A60028 0%, #A60028 0%);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 0.25s linear;
    border: 1px solid #A60028;
}

.last-btns-div>div:hover {
    background-size: 100% 100%;
    cursor: pointer;

}

.see-all{
    background-image: linear-gradient(to right, #DBC79F 0%, #DBC79F 0%);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 0.3s linear;
    border: 1px solid #DBC79F;
}

.see-all:hover{
    background-size: 100% 100%;
    cursor: pointer;
}

.mobile-out{
    background-color: #B90124;
    position: relative;
    border-radius: 75px 0 0 75px;
    margin-bottom: 50px;
}

.mobile-inner{
    position: absolute;
    right: 200px;
    top: 5px;
}

.coll{
    color: #000;
    text-align: center;
    font-family: Mirador;
    font-size: 50px;
    font-style: italic;
    font-weight: bolder;
    line-height: normal;
    margin-top: 50px;
    margin-left: 150px;
}

.imgs{
    mix-blend-mode: multiply;
}

.p-animated{
    display: flex;
    
    justify-content: center;

}
